@font-face {
  font-family: 'custom_mono';
  src: url('../media/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'custom_mono_medium';
  src: url('../media/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'custom_mono_semibold';
  src: url('../media/fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'custom_mono_bold';
  src: url('../media/fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'custom_serif';
  src: url('../media/fonts/serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'custom_sans_serif';
  src: url('../media/fonts/sans_serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}